.container {
  display: block;
  margin: 0 auto;
  max-width: 80%;
  /* margin-top: 50%; */
}

.title {
  font-size: 50px;
  text-align: center;
  margin-bottom: 50px;
}

.title span {
  color: #fc6d26;
}

.auth__wrapper {
  display: block;
  position: relative;
  margin: 0 auto;
  margin-top: 30%;
}

.auth__form {
  display: flex;
  width: 600px;
  padding: 0 30px 30px 0;
  margin: 0 auto;
  /* margin-top: 500px; */
}

.auth__label {
  display: block;
  margin-bottom: 10px;
  font-size: 14px;
  color: gray;
}

.auth__input {
  width: 300px;
  padding: 7px;
  border-radius: 10px;
  border: 1px solid gray;
}

.auth__username {
  display: block;
  margin-bottom: 20px;
}

.auth__button {
  display: block;
  width: 300px;
  margin-top: 20px;
  padding: 10px;
  font-size: 15px;
  color: #fff;
  background-color: #fc6d26;
  border-radius: 12px;
}
